.card {
    min-height: 150px;
    max-width: 250px;
  border-radius: 10px;
  flex: 1 0 21%;
  border: 2px solid #675BF1;
  margin-right: 20px;
  margin-top: 15px;
}

.container {
    padding: 20px;
}

.lineBreak {
    height: 2px;
    background: var(--primary);
}

.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

select {
    position: relative;
  min-width: 100px;
  padding: 7px 40px 7px 12px;
  border: 1px solid #E8EAED;
  border-radius: 5px;
  box-shadow: 0 1px 3px -2px #9098A9;
  font-size: 16px;
  outline: none;
  margin-top: 10px;
}
