.sidebar {
    width: 160px;
    background-color: orange;
    height: 100%;
    position: fixed;
}
  
.item {
      height: 40px;
      width: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid white;
}
  
      .item p {
        font-size: 24px;
        color: white;
      }
    
  